@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eb5d4d;font-family: 'Lato', sans-serif;

}

.main-inner{
    max-width: 1200px;
    height: auto;
    background-color: #F7F3EF;
    display: table;
    margin: 20px auto;
    width:100%;
}



.box-brand-list{
    width:200px;
    float: left;
    height:100%;
}

.box-brand-list ul{
    list-style: none;

}

.brand-item:first-child{
    margin-top:0;
}

.brand-item{
    height:200px;
    background: #fff;
    margin-top:3px;
    position: relative;
    cursor: pointer;
}

.interactions {
    position: absolute;
    bottom: 0;
}

.brand-image {
    text-align: center;
    position: relative;
    top: 42px;
}

.brand-image img{
    width:30%;
}

article.box-user-list {
    float: right;
    max-width: 980px;
    margin-right:10px;
    width:100%;
    padding-bottom:20px;
}

.box-user-list .card{
    width:100%;
    display: table;

}

.card__item{
    width: 100%;
    height:50px;
    margin-top:2px;

    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left:5px solid #F7F3EF;
    padding-top: 10px;
    font-size: 20px;
    background: #eb5d4d;
    color: #fff;
    display: table;
}


.box-user-list-header h1{
    font-size:32px;
}
.box-user-list-header{
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}


.position {
    width: 10%;
    text-align: center;
    font-weight: bold;
}

.name {
    width: 30%;
}

.qty-interactions {
    width: 30%;
    text-align: center;
}

.details {
    width: 30%;
    text-align: right;
    padding-right: 24px;
    font-weight:bold;
    cursor: pointer;
}


.interactions ul{

    display: flex;
}

.interactions ul li{
    width:30%;
    padding: 3px;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    cursor: pointer;
}

.interactions ul li:hover{
    background-color: #F7F3EF;
}

.interactions ul li span{
    padding-top:2px;
    font-weight: bold;
    display: inline-block;
}

.interactions ul li img{
    width:40%;
    float: left;
    margin-left:3px;
    margin-right:5px;
}

.card__content {
    display: flex;
}

.card__canvas {
    width:  400px!important;
    height:  400px!important;
    overflow: hidden;

    margin:0 auto;
}

.card__canvas canvas {
    width:  100%!important;
    height:  100%!important;
}

article.box-brand-list:before {
    content: "Clique em uma marca para filtrar";
    text-align: center;
    width: 100%;
    display: list-item;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
}

@media screen and (max-width: 768px){
    article.box-brand-list{
        width:100%;
    }

    ul.brand-list {
        display: flex;
        width:100%;
    }

    li.brand-item {
        width: 100%;
        height: 123px;
    }

    li.brand-item img{
        width:40%;
    }

    .interactions{
        display: none;
    }
}